.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  min-height: 50vh;
  overflow: hidden;
  padding: 10px;
  background: #282828;
  border-radius: 5px;
  box-shadow: 0 6px 6px;
}

.top-bar {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.441);
}

.counter {
  display: flex;
  margin: 0;
  cursor: pointer;
  font-size: medium;
  color: gray;
}

.counter h5:active {
  filter: brightness(120%);
  color: black;
  background: rgba(247, 245, 245, 0.947);
}

.content {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: medium;
}

.author h5 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: gray;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 90px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.441);
}

.heart-icon {
  cursor: pointer;
}

.new-Quote-Button {
  color: white;
  cursor: pointer;
}

.new-Quote-Button:active {
  color: grey;
  border: none;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100vw;
    height: 100vh;
  }
}
